body {
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  background-color: #fff5f6;
  letter-spacing: 0.04em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.no-scroll {
  overflow: hidden;
}
