.section-title {
  @include font(34px, 400, 39px, null);
  font-family: Titan One;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-red);
}

@media screen and (min-width: 768px) {
  .section-title {
    @include font(48px, 400, 55px, null);
  }
}

@media screen and (min-width: 1280px) {
  .section-title {
    @include font(58px, 400, 66px, 0.06em);
  }
}

.label-title {
  @include font(18px, 400, 21px, null);
  font-family: Titan One;
  text-transform: uppercase;
  text-align: center;
  color: var(--pre-titles-pink);
}

@media screen and (min-width: 768px) {
  .label-title {
    @include font(26px, 400, 30px, null);
  }
}

@media screen and (min-width: 1280px) {
  .label-title {
    @include font(30px, 400, 34px, null);
  }
}
