.section-title {
  @include font(34px, normal, 39px, 0.04em);
  font-family: Titan One;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-red);
}

@media screen and (min-width: 768px) {
  .section-title {
    @include font(48px, normal, 55px, 0.04em);
  }
}

@media screen and (min-width: 1280px) {
  .section-title {
    @include font(58px, normal, 66px, 0.06em);
  }
}

.label-title {
  @include font(18px, normal, 21px, 0.04em);
  font-family: Titan One;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: var(--pre-titles-pink);
}

@media screen and (min-width: 768px) {
  .label-title {
    @include font(26px, normal, 30px, 0.04em);
  }
}

@media screen and (min-width: 1280px) {
  .label-title {
    @include font(30px, normal, 34px, 0.04em);
  }
}
