@mixin font($fs, $fw, $lh, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: ($lh / $fs);
  letter-spacing: $ls;
}
@mixin mob {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desk {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
