:root {
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --white-btn-hover: #ecebeb;
  --red-btn-hover: #c7133e;

  --pre-titles-pink: #ffa5ba;
  --light-pink-background: #ffb8ca;
  --light-brown-background: #f0d1a5;
  --light-green-background: #c2e297;
  --sections-light-pink-background: #fff5f6;
  --customer-reviews-back: #fafafa;
  --social-media-back: #fea5bb;

  --mob-menu-back-color: #e17992;
  --mob-filter-border-color: #e18298;

  --clear-white: #ffffff;
  --clear-black: #000000;
  --main-red: #d41443;

  --text-grey: #907e82;
  --switcher-grey: #D9D9D9;


  --dots-red: #c7133e;
  --house-icon-red: #d31342;

  --border-lines-grey: #e1e1e1;
  --copyright-grey: #907e82;

  --card-amt: 1;
  --card-gap: 20px;
}
