<section class="about" id="about">
  <div class="container">
    <div class="section-title">
      <p class="label">tradition and love</p>
      <h2 class="about-title">how it’s made?</h2>
    </div>
    <div class="about-content">
      <div class="about-image-wrapper">
        <picture>
          <source
            srcset="./images/about/cow-1x.png 1x, ./images/about/cow-2x.png 2x"
            type="image/png"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./images/about/cow-tab-1x.png 1x, ./images/about/cow-tab@2x.png 2x"
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/about/cow-mobile-1x.png 1x, ./images/about/cow-mobile@2x.png 2x"
            type="image/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/about/cow-1x.webp 1x, ./images/about/cow-2x.webp 2x"
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./images/about/cow-tab-1x.webp 1x, ./images/about/cow-tab@2x.webp 2x"
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/about/cow-mobile-1x.webp 1x, ./images/about/cow-mobile@2x.webp 2x"
            type="image/webp"
            media="(max-width: 767px)"
          />
          <img
            class="about-image"
            src="./images/about/cow-mobile-1x.png"
            alt="корова"
            loading="lazy"
            width="280"
            height="279"
          />
        </picture>
      </div>
      <div class="about-text-wrapper">
        <p class="text-one about-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="text-too about-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
          <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <p class="about-text is-hidden" data-about-hidden>
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>

        <button class="main-btn about-btn" data-about-open type="button">
          Read more
          <svg class="about-icon" width="4.4" height="8">
            <use href="./images/icons.svg#icon-next"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
