<!-- <section class="advantages">
  <h2 class="hidden">Advatages</h2>
  <ul class="advantages-list">
    <li class="advantages-item">
      <svg class="" width="33" height="50">
        <use href=""></use>
      </svg>
      <p class="advantages-text">721</p>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages-item">
      <svg class="" width="50" height="50">
        <use href=""></use>
      </svg>
      <p>16kg</p>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages-item">
      <svg class="" width="44" height="50">
        <use href=""></use>
      </svg>
      <p>84</p>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section> -->
