<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="hidden">Advatages</h2>
    <ul class="advantages-list card-set list">
      <li class="advantages-item card-set__item">
        <img
          class="advantages-img"
          src="./images/advantages/icecream.svg"
          alt="icecream"
          width="33"
          height="50"
        />
        <p class="advantages-number">721</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-item card-set__item">
        <img
          class="advantages-img"
          src="./images/advantages/icecherry.svg"
          alt="icecherry"
          width="50"
          height="50"
        />
        <p class="advantages-number">16kg</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-item card-set__item">
        <img
          class="advantages-img"
          src="./images/advantages/iceheart.svg"
          alt="iceheart"
          width="44"
          height="50"
        />
        <p class="advantages-number">84</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
