<article class="example">
  <h1>HTML-фрагменты</h1>
  <ul>
    <li>
      <a href="#about">about</a>
    </li>
  </ul>
  <!-- Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
  <img src="images/demo.jpg" alt="" width="320" />
  <p>
    Плагин
    <a href="https://github.com/posthtml/posthtml-include" target="_blank" rel="noopener noreferrer">
      posthtml-include
    </a>
    п (фрагментов). Фрагменты хранятся в папке
    <code>src/partials</code>. Добавление происходит при компиляции файлов страниц, например
    <code>index.html</code>.
  </p>

  <p>
    Этот файл <code>example.html</code> &mdash; пример такого фрагмента, с разметкой определённой
    части главной страницы. Это очень удобно при командной разработке на студенческих проектах,
    когда в одном HTML-файле пишет несколько человек сразу.
  </p>

  <p>
    Синтаксис добавление фрагмента в главный файл:
    <code> &lt;include src="./partials/имя-файла.html"&gt;&lt;/include&gt; </code>
  </p>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190256.09899022538!2d-87.87204670263532!3d41.83364785009012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1645220306231!5m2!1sru!2sua"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

  <div class="background"></div>
</article>