<footer class="foot" id="contacts">
    <div class="container foot-container">
        <div class="foot-text">
          <p class="first-text label-title">homemade ice cream made</p>
          <p class="second-text section-title">with passion</p>
        </div>
        <div class="foot-contakts">
         <ul class="social-list list">
             <li class="social-item">
                 <a class="social-link" 
                    href="https://github.com/"
                    target="_blank"
                    rel="noreferrer noopener nofollow">
                    <svg class="social-icon">
                     <use href="./images/icons.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="social-item">
                 <a class="social-link" 
                    href="https://web.telegram.org/"
                    target="_blank"
                    rel="noreferrer noopener nofollow">
                    <svg class="social-icon">
                     <use href="./images/icons.svg#icon-telegram"></use>
                     </svg>
                 </a>
             </li>
             <li class="social-item">
                 <a class="social-link" 
                    href="https://facebook.com/"
                    target="_blank"
                    rel="noreferrer noopener nofollow">
                    <svg class="social-icon">
                     <use href="./images/icons.svg#icon-facebook"></use>
                     </svg>
                 </a>
             </li>
         </ul>
         <p class="foot-tel-text">Feel free to contact
             <a class="link tel-link"
             href="tel:+610383766284">  +61 (0) 383 766 284
            </a>
        </p>
         
        </div>
    </div>
         <hr class="foot-line">
         <p class="foot-rights">&copy; 2019 - IceCream. All Rights Reserved.</p>
    
 </footer>