<section class="section gallery">
  <div class="container gallery-container">
    <h2 class="hidden ">Gallery</h2>
    <ul class="gallery-list ">
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/gallery/picture1-1x.png 1x, 
            ./images/gallery/picture1-2x.png 2x"
            type="image/png"
          />
          <source
            srcset="./images/gallery/picture1-1x.webp 1x,
            ./images/gallery/picture1-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./images/gallery/picture1-1x.png"
            alt="Pistachio ice cream"
            width="139"
            height="139"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/gallery/picture2-1x.png 1x, 
            ./images/gallery/picture2-2x.png 2x"
            type="image/png"
          />
          <source
            srcset="./images/gallery/picture2-1x.webp 1x,
            ./images/gallery/picture2-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./images/gallery/picture2-1x.png"
            alt="Strawberry ice cream"
            width="139"
            height="139"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/gallery/picture3-1x.png 1x, 
            ./images/gallery/picture3-2x.png 2x"
            type="image/png"
          />
          <source
            srcset="./images/gallery/picture3-1x.webp 1x,
            ./images/gallery/picture3-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./images/gallery/picture3-1x.png"
            alt="Raspberry ice cream"
            width="139"
            height="139"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/gallery/picture4-1x.png 1x, 
            ./images/gallery/picture4-2x.png 2x"
            type="image/png"
          />
          <source
            srcset="./images/gallery/picture4-1x.webp 1x,
            ./images/gallery/picture4-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./images/gallery/picture4-1x.png"
            alt="Varieties of ice cream"
            width="280"
            height="280"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/gallery/picture5-1x.png 1x, 
            ./images/gallery/picture5-2x.png 2x"
            type="image/png"
          />
          <source
            srcset="./images/gallery/picture5-1x.webp 1x,
            ./images/gallery/picture5-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./images/gallery/picture5-1x.png"
            alt="Шce cream ice cream"
            width="139"
            height="139"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/gallery/picture6-1x.png 1x, 
            ./images/gallery/picture6-2x.png 2x"
            type="image/png"
          />
          <source
            srcset="./images/gallery/picture6-1x.webp 1x,
            ./images/gallery/picture6-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./images/gallery/picture6-1x.png"
            alt="Ice cream with natural fruits"
            width="139"
            height="139"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/gallery/picture7-1x.png 1x, 
            ./images/gallery/picture7-2x.png 2x"
            type="image/png"
          />
          <source
            srcset="./images/gallery/picture7-1x.webp 1x,
            ./images/gallery/picture7-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./images/gallery/picture7-1x.png"
            alt="Сherry ice cream"
            width="139"
            height="139"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/gallery/picture8-1x.png 1x, 
            ./images/gallery/picture8-2x.png 2x"
            type="image/png"
          />
          <source
            srcset="./images/gallery/picture8-1x.webp 1x,
            ./images/gallery/picture8-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./images/gallery/picture8-1x.png"
            alt="Double layer of ice cream"
            width="139"
            height="139"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/gallery/picture9-1x.png 1x, 
            ./images/gallery/picture9-2x.png 2x"
            type="image/png"
          />
          <source
            srcset="./images/gallery/picture9-1x.webp 1x,
            ./images/gallery/picture9-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./images/gallery/picture9-1x.png"
            alt="Milkshake with chocolate ice cream"
            width="139"
            height="139"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/gallery/picture10-1x.png 1x, 
            ./images/gallery/picture10-2x.png 2x"
            type="image/png"
          />
          <source
            srcset="./images/gallery/picture10-1x.webp 1x,
            ./images/gallery/picture10-2x.webp 2x"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./images/gallery/picture10-1x.png"
            alt="Milk dessert with ice cream"
            width="139"
            height="139"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>