<section class="section gallery">
    <ul class="gallery-list">
        <li class="gallery-item img-1">

        </li>
        <li class="gallery-item img-2">

        </li>
        <li class="gallery-item img-3">

        </li>
        <li class="gallery-item img-4">

        </li>
        <li class="gallery-item img-5">

        </li>
        <li class="gallery-item img-6">

        </li>
        <li class="gallery-item img-7">

        </li>
        <li class="gallery-item img-8">

        </li>
        <li class="gallery-item img-9">

        </li>
        <li class="gallery-item img-10">

        </li>
    </ul>
</section>