<section class="section gallery">
  <ul class="gallery-list">
    <li class="gallery-item img-1">
      <picture>
        <source
          srcset="./images/gallery/picture1-1x.png 1x, ./images/gallery/picture1-2x.png 2x"
          type="image/png"
        />
        <source
          srcset="./images/gallery/picture1-1x.webp 1x, ./images/gallery/picture1-2x.webp 2x"
          type="image/webp"
        />
        <img
          src="./images/gallery/picture1-1x.png 1x"
          alt="Подбор цветового решения"
          width="370"
          height="294"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery-item img-2"></li>
    <li class="gallery-item img-3"></li>
    <li class="gallery-item img-4"></li>
    <li class="gallery-item img-5"></li>
    <li class="gallery-item img-6"></li>
    <li class="gallery-item img-7"></li>
    <li class="gallery-item img-8"></li>
    <li class="gallery-item img-9"></li>
    <li class="gallery-item img-10"></li>
  </ul>
</section>
