<header class="header">
    <div class="container header-container">
        <nav class="header-nav">
        <a href="" class="link logo">
    <picture>
    <source srcset="./images/header/logo-1x.png 1x,
    ./images/header/logo-2x.png 2x" type="image/png">
    <source srcset="./images/header/logo-1x.webp 1x,
    ./images/header/logo-2x.webp  2x" type="image/webp">
    <img src="./images/header/logo-1x.png" class="header-logo" alt="Логотип">
</picture>
        </a>

<ul class="list nav-list">
    <li class="nav-item"><a class="nav-link link current" href="">Home</a></li>
    <li class="nav-item"><a class="nav-link link" id="./advantages.html" href="">About us</a></li>
    <li class="nav-item"><a class="nav-link link" id="./about.html" href="">How it’s made?</a></li>
    <li class="nav-item"><a class="nav-link link" id="./products.html" href="">Our products</a></li>
    <li class="nav-item"><a class="nav-link link" id="./contacts.html" href="">Contact</a></li>
    
</ul>
<div class="button-container">
    <button type="button" class="menu-button">
        <svg class="menu-icon" width="20" height="12">
            <use href="./images/icons.svg#icon-burger"></use>
        </svg>
    </button>
<button type="button" class="main-btn header-button">Buy now</button>
</div>
</nav>
        
<div class="header-wrap">
    <div class="header-wrap-left">
        <h2 class="header-title">ice cream made with <span class="title-red">passion</span> 
        </h2>
        <ul class="list wrap-list">
            <li class="wrap-item"><a href="" class="link" id="./products.html"><button type="button" class="main-btn wrap-button">Products</button></a></li>
            <li class="wrap-item"><a href="" class="link" id="./about.html"><button type="button" class="main-btn wrap-button">How it’s made?</button></a></li>
        </ul>
        </div>
    </div>
    <div class="header-gap">
    <div class="header-wrap-bottom">
        <p class="header-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button"></button>
    </div>
    </div>
    <div class="header-thumb-right">
    <picture>
        <source srcset="./images/header/girl-1x.png 1x, ./images/header/girl-2x.png 2x" media="(min-width:1280px)" type="img/png" />
        <source srcset="./images/header/girl-1x.webp 1x, ./images/header/girl-1x.webp 2x" media="(min-width:1280px)" type="img/webp" />
        <source srcset="./images/header/girl-tab-1x.png 1x, ./images/header/girl-tab-2x.png 2x" media="(min-width:768px)" type="img/png" />
        <source srcset="./images/header/girl-tab-1x.webp 1x, ./images/header/girl-tab-2x.webp 2x" media="(min-width: 768px)" type="img/webp" />
        <img  src="./images/header/girl-tab-1x.png" alt="Girl with icecream">
    </picture>
    </div>

   

    </div>

   
    
</header>
