<div class="mobile-container js-menu-container" id="mobile-menu">
  <button
    type="button"
    class="closing-button js-close-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg width="15" height="15">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <button data-order-open type="button" class="buy-now main-btn">
    Buy now
    <svg class="injection" width="5" height="8">
      <use href="./images/icons.svg#icon-next"></use>
    </svg>
  </button>

  <ul class="list">
    <li class="mobile-item">
      <a class="mob-link link" href="#home">Home</a>
    </li>
    <li class="mobile-item">
      <a class="mob-link link" href="#advantages">About us</a>
    </li>
    <li class="mobile-item">
      <a class="mob-link link" href="#how">How it's made?</a>
    </li>
    <li class="mobile-item">
      <a class="mob-link link" href="#products">Our products</a>
    </li>
    <li class="mobile-item">
      <a class="mob-link link" href="#contacts">Contacts</a>
    </li>
  </ul>
</div>
