<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close" data-modal-close>
      <svg class="" width="14" height="14">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <p class="modal-title">Choose the product</p>

    <ul class="list card-set products-list">
      <li class="products-item card-set__item">
        <input class="input-prod icecream-checkbox" type="checkbox" name="icecream" id="icecream" />
        <label for="icecream" class="label-prod">
          <span class="product-name">IceCream</span>
        </label>
      </li>

      <li class="products-item card-set__item">
        <input class="input-prod icecoffe-checkbox" type="checkbox" name="icecoffe" id="icecoffe" />
        <label for="icecoffe" class="label-prod">
          <span class="product-name">Icecoffe</span>
        </label>
      </li>

      <li class="products-item card-set__item">
        <input class="input-prod iceshake-checkbox" type="checkbox" name="iceshake" id="iceshake" />
        <label for="iceshake" class="label-prod">
          <span class="product-name">Iceshake</span>
        </label>
      </li>

      <li class="products-item card-set__item">
        <input class="input-prod chocoice-checkbox" type="checkbox" name="chocoice" id="chocoice" />
        <label for="chocoice" class="label-prod">
          <span class="product-name">Chocolate ice cream</span>
        </label>
      </li>

      <li class="products-item card-set__item">
        <input class="input-prod fruitice-checkbox" type="checkbox" name="iceshake" id="fruitice" />
        <label for="fruitice" class="label-prod">
          <span class="product-name">Fruit ice cream</span>
        </label>
      </li>

      <li class="products-item card-set__item">
        <input class="input-prod sorbet-checkbox" type="checkbox" name="sorbet" id="sorbet" />
        <label for="sorbet" class="label-prod">
          <span class="product-name">Sorbet</span>
        </label>
      </li>
    </ul>

    <p class="modal-title">Enter your contacts</p>
    <form>
      <label class="input-txt" for="user-name">Name </label>
      <input
        type="text"
        class="form-input"
        name="user-name"
        placeholder=""
        minlength="3"
        id="user-name"
        required
      />

      <label class="input-txt" for="user-tel">Telephone</label>
      <input
        type="tel"
        class="user-tel form-input"
        name="user-tel"
        placeholder=""
        id="user-tel"
        required
      />

      <div class="btn-wrap">
        <button class="modal-btn" type="submit">Send</button>
      </div>
    </form>
  </div>
</div>
