<div class="backdrop is-hidden" data-modal> 
    <div class="modal">
        <button type="button" class="modal-close" data-modal-close>
            <svg class="" width="14" height="14">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>

        <p class="modal-title">Enter your contacts</p>
        <form class="" action="#">

        <label class="input-txt" for="user-name">Name</label>
        <input type="text" 
            class="form-input" 
            name="user-name" 
            placeholder="" 
            minlength="3"
            id="user-name"
            required/>

        <label class="input-txt" for="user-tel">Telephone</label>
            <input type="tel" 
            class="form-input" 
            name="user-tel" 
            placeholder="" 
            id="user-tel"
            required/>
            <p>Choose your product</p>

            <ul class="list prouducts-list">
                <li class="prouducts-item">
                    <input class="icecream-checkbox"  type="checkbox" name="icecream" id="icecream"/>
            <label for="icecream" class="check-txt">
               
                <span class="">
                IceCream
                </span>
            </label>
            </li>

                <li class="prouducts-item">
                    <input class="icecoffe-checkbox"  type="checkbox" name="icecoffe" id="icecoffe"/>
            <label for="icecoffe" class="check-txt">
            
                <span class="">
                    Icecoffe
                </span>
            </label>
            </li>
                    <li class="prouducts-item">
                        <input class="iceshake-checkbox"  type="checkbox" name="iceshake" id="iceshake"/>
                <label for="iceshake" class="check-txt">
                    <span class="">
                        Iceshake
                    </span>
                </label>
                </li>
            </li>
                <li class="prouducts-item">
                    <input class="iceshake-checkbox"  type="checkbox" name="iceshake" id="iceshake"/>
            <label for="iceshake" class="check-txt">
                <span class="">
                    Iceshake
                </span>
            </label>
            </li>
        </li>
        <li class="prouducts-item">
            <input class="iceshake-checkbox"  type="checkbox" name="iceshake" id="iceshake"/>
        <label for="iceshake" class="check-txt">
        <span class="">
            Iceshake
        </span>
        </label>
        </li>
        </li>
        <li class="prouducts-item">
            <input class="iceshake-checkbox"  type="checkbox" name="iceshake" id="iceshake"/>
        <label for="iceshake" class="check-txt">
        <span class="">
            Iceshake
        </span>
        </label>
        </li>
            </ul>
            
            

            <div class="modal-btn">
                <button class="" type="submit">Send</button>
                </div>
        </form>
    </div>
</div>