<section class="container products-section" id="products">
  <p class="label-title">100% natural</p>
  <h2 class="section-title">products</h2>
  <ul class="list card-set">
    <li class="card-set__item icecream-item products">
      <h3 class="products-title">ice cream</h3>
      <p class="products-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button
        type="button"
        class="description-open-btn"
        data-description-open
        aria-label="open callback form"
      >
        <svg width="40px" height="40px">
          <use href="./images/icons.svg#icon-rightarrow"></use>
        </svg>
      </button>
    </li>

    <li class="card-set__item icecoffee-item products">
      <h3 class="products-title">ice coffee</h3>
      <p class="products-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button
        type="button"
        class="description-open-btn"
        data-description-open
        aria-label="open callback form"
      >
        <svg width="40px" height="40px">
          <use href="./images/icons.svg#icon-rightarrow"></use>
        </svg>
      </button>
    </li>
    <li class="card-set__item milkshakes-item products">
      <h3 class="products-title">milkshakes</h3>
      <p class="products-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button
        type="button"
        class="description-open-btn"
        data-description-open
        aria-label="open callback form"
      >
        <svg width="40px" height="40px">
          <use href="./images/icons.svg#icon-rightarrow"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
<div
  class="backdrop-description is-hidden"
  data-description
 
>
  <div class="description">
    <div class="description-logo">
      <a href="" class="link logo">
        <picture class="description-img">
          <source
            srcset="./images/header/logo-1x.png 1x, ./images/header/logo-2x.png 2x"
            type="image/png"
          />
          <source
            srcset="./images/header/logo-1x.webp 1x, ./images/header/logo-2x.webp 2x"
            type="image/webp"
          />
          <img src="./images/header/logo-1x.png" class="header-logo" alt="Логотип" loading="lazy" />
        </picture>
      </a>
    </div>
    <button
      type="button"
      class="description-close"
      data-description-close
      aria-label="close callback form"
    >
      <svg class="description-icon" width="18px" height="18px">
        <use href="./images/icons.svg#icon-mob-close"></use>
      </svg>
    </button>
    <p class="description-title">
      Leave your contact details and we will get back to you as soon as possible.
    </p>
    <form class="description-form">
      <div class="description-form-wrapper">
        <label class="description-label"
          ><span class="description-label-text">Name</span>
          <span class="input-wrap">
            <input type="text" name="Name" class="form-input" placeholder="Enter your name!" />
            <svg class="input-icon" width="18" height="18">
              <use href="./images/icons.svg#icon-person-black-18dp"></use>
            </svg>
          </span>
        </label>
        <label class="description-label"
          ><span class="description-label-text">Phone number</span>
          <span class="input-wrap">
            <input
              type="tel"
              name="Tel"
              class="form-input"
              placeholder="Enter your phone number!"
            />
            <svg class="input-icon" width="18" height="18">
              <use href="./images/icons.svg#icon-phone-black-18dp"></use>
            </svg>
          </span>
        </label>
        <label class="description-label"
          ><span class="description-label-text">E-mail</span>
          <span class="input-wrap">
            <input type="email" name="Mail" class="form-input" placeholder="Enter your e-mail!" />
            <svg class="input-icon" width="18" height="18">
              <use href="images/icons.svg#icon-email-black-18dp"></use>
            </svg>
          </span>
        </label>
      </div>
      <button type="submit" class="main-btn buy-now" aria-label="send callback form">
        Send
        <svg class="injection" width="5" height="8">
          <use href="./images/icons.svg#icon-next"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
<a class="home-icon" href="#home">
  <svg width="50px" height="50px">
    <use href="./images/icons.svg#icon-logo"></use>
  </svg>
</a>
