<section class="container products-section" id="products">
    <p class="label-title">100% natural</p>
    <h2 class="section-title">products</h2>
    <ul class="list card-set">
        <li class="card-set__item icecream-item products">
            <h3 class="products-title">ice cream</h3>
            <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et</p>
            <button type="button" class="description-open-btn">
                <svg width="40px" height="40px">
                    <use href="./images/icons.svg#icon-rightarrow"></use>
                </svg>
            </button>
        </li>

        <li class="card-set__item icecoffee-item products">
            <h3 class="products-title">ice coffee</h3>
        <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button" class="description-open-btn">
            <svg width="40px" height="40px">
                <use href="./images/icons.svg#icon-rightarrow"></use>
            </svg>
        </button>
    </li>
        <li class="card-set__item milkshakes-item products">
            <h3 class="products-title">milkshakes</h3>
            <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="description-open-btn">
                <svg width="40px" height="40px">
                <use href="./images/icons.svg#icon-rightarrow"></use>
                </svg>
            </button>
        </li>
    </ul>
</section>
