<section class="reviews">
  <div class="container">
    <div class="review-slider">
      <div class="reviews-wrapper">
        <picture>
          <source
            class="customer-photo"
            srcset="
              ../src/images/reviews/first-customer-1x.png 1x,
              ../src/images/reviews/first-customer-1x.png 2x
            "
            type="image/png"
          />
          <source
            class="customer-photo"
            srcset="
              ../src/images/reviews/first-customer-1x.webp 1x,
              ../src/images/reviews/first-customer-2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="customer-photo"
            alt="customer-1"
            src="../src/images/reviews/first-customer-1x.png"
          />
        </picture>

        <div class="text-wrapper">
          <svg class="reviews-icon" width="54" height="40">
            <use href="./images/icons.svg#icon-quotes"></use>
          </svg>
          <p class="review-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <svg class="dots" width="32" height="4">
          <use href="./images/icons.svg#icon-red-dots"></use>
        </svg>
        <h2 class="review-address">Emily, Los Angeles</h2>
      </div>
      <div class="reviews-wrapper">
        <picture>
          <source
            class="customer-photo"
            srcset="
              ../src/images/reviews/second-customer-1x.png 1x,
              ../src/images/reviews/second-customer-1x.png 2x
            "
            type="image/png"
          />
          <source
            class="customer-photo"
            srcset="
              ../src/images/reviews/second-customer-1x.webp 1x,
              ../src/images/reviews/second-customer-2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="customer-photo"
            alt="customer-1"
            src="../src/images/reviews/second-customer-1x.png"
          />
        </picture>

        <div class="text-wrapper">
          <svg class="reviews-icon" width="54" height="40">
            <use href="./images/icons.svg#icon-quotes"></use>
          </svg>
          <p class="review-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <svg class="dots" width="32" height="4">
          <use href="./images/icons.svg#icon-red-dots"></use>
        </svg>
        <h2 class="review-address">Ellen, Miami</h2>
      </div>
      <div class="reviews-wrapper">
        <picture>
          <source
            class="customer-photo"
            srcset="
              ../src/images/reviews/third-customer-1x.png 1x,
              ../src/images/reviews/third-customer-1x.png 2x
            "
            type="image/png"
          />
          <source
            class="customer-photo"
            srcset="
              ../src/images/reviews/third-customer-1x.webp 1x,
              ../src/images/reviews/third-customer-2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="customer-photo"
            alt="customer-1"
            src="../src/images/reviews/third-customer-1x.png"
          />
        </picture>

        <div class="text-wrapper">
          <svg class="reviews-icon" width="54" height="40">
            <use href="./images/icons.svg#icon-quotes"></use>
          </svg>
          <p class="review-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <svg class="dots" width="32" height="4">
          <use href="./images/icons.svg#icon-red-dots"></use>
        </svg>

        <h2 class="review-address">Ann, Texas</h2>
      </div>
    </div>
  </div>
</section>
