<section class="reviews container">
  <div class="reviews-wrapper">
    <div class="adaptive-slider">
      <input type="radio" name="kadoves" id="slide1" checked />

      <input type="radio" name="kadoves" id="slide2" />

      <input type="radio" name="kadoves" id="slide3" />

      <div class="adaptive-slider-imgs">
        <div class="adaptive-slider-imgswr">
          <img src="../src/images/reviews/first-customer-1x.png" />

          <img src="../src/images/reviews/second-customer-1x.png" />

          <img src="../src/images/reviews/third-customer-1x.png" />
        </div>
      </div>
    </div>

    <!-- <picture class="customer-photo">
      <source
        srcset="
          ../src/images/reviews/first-customer-1x.png 1x,
          ../src/images/reviews/first-customer-1x.png 2x
        "
        type="image/png"
      />
      <source
        srcset="
          ../src/images/reviews/first-customer-1x.webp 1x,
          ../src/images/reviews/first-customer-2x.webp 2x
        "
        type="image/webp"
      />
      <img alt="customer-1" src="../src/images/reviews/first-customer-1x.png" />
    </picture> -->

    <div class="text-wrapper">
      <svg class="reviews-icon" width="54" height="40">
        <use href="../dist/icons.2d421eb7.svg#icon-quotes"></use>
      </svg>
      <p class="review-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <ul class="dots-list list">
      <li class="dots-item">
        <a class="dots-link"></a>
      </li>
      <li class="dots-item">
        <a class="dots-link"></a>
      </li>
      <li class="dots-item">
        <a class="dots-link"></a>
      </li>
    </ul>

    <h2 class="review-address">Emily, Los Angeles</h2>

    <div class="adaptive-slider">
      <input type="radio" name="kadoves" id="slide1" checked />

      <input type="radio" name="kadoves" id="slide2" />

      <input type="radio" name="kadoves" id="slide3" />

      <div class="kadoves">
        <label for="slide1"></label>

        <label for="slide2"></label>

        <label for="slide3"></label>
      </div>
    </div>
  </div>
</section>
