<section class="reviews container">
  <div class="reviews-wrapper">
    <picture>
      <source
        srcset="
          ../src/images/reviews/first-customer-1x.png 1x,
          ../src/images/reviews/first-customer-1x.png 2x
        "
        type="image/png"
      />
      <source srcset="" type="image/webp" />
    </picture>
    <img
      class="customer-photo"
      alt="customer-1"
      src="../src/images/reviews/first-customer-1x.png"
    />

    <div class="text-wrapper">
      <svg class="reviews-icon" width="54" height="40">
        <use href=""></use>
      </svg>
      <p class="review-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <ul class="dots-list list">
      <li class="dots-item">
        <a class="dots-link"></a>
      </li>
      <li class="dots-item">
        <a class="dots-link"></a>
      </li>
      <li class="dots-item">
        <a class="dots-link"></a>
      </li>
    </ul>

    <h2 class="review-address">Emily, Los Angeles</h2>

    <ul class="switcher-list list">
      <li class="switcher-item">
        <a class="switcher-link"></a>
      </li>
      <li class="switcher-item">
        <a class="switcher-link"></a>
      </li>
      <li class="switcher-item">
        <a class="switcher-link"></a>
      </li>
    </ul>
  </div>
</section>
