<header class="header">
    <div class="container">
        <div class="header-top">
            <nav>
                <a href="" class="logo"><img src="./images/header/logo.png" alt="" width="199" height="50"></a>

            </nav>
            <button type="button"> menu</button>
            <button>buy now</button>
        </div>
        <div class="header-content">
            <div>
                <h1>ice cream
                    made with
                    <span> passion </span>
                </h1>
                <ul>
                    <li>
                        <button>Products</button>
                    </li>
                    <li>
                        <button>How it’s made?</button>
                    </li>
                </ul>
            </div>
            <ul>
                <li>
                    16 <span>jjljk;</span>
                </li>
                <li>
                    16 <span>jjljk;</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="header-bottom">
        <div></div>
        <div></div>
    </div>


    <section class="section about" id="about"></section>

</header>