.advantages {
  padding-top: 40px;
  display: block;
  background-color: var(--sections-light-pink-background);
  @include tab {
    padding-top: 66px;
  }
  @include desk {
    padding-top: 40px;
  }
}
.advantages-list {
  @include tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--card-gap) * -1);
    margin-top: calc(var(--card-gap) * -1);
  }
}
.advantages-list:not(:last-child) {
  @media screen and (max-width: 767px) {
    --card-gap: 38px;
  }
}
.advantages-item {
  // width: 230px;
  @include tab {
    flex-basis: calc(100% / 3 - var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
    width: 180px;
    padding-bottom: 0;
  }
  @include desk {
    width: 330px;
  }
}
// .advantages-item:not(:last-child) {
//   @media screen and (max-width: 767px) {
//     padding-bottom: 38px;
//   }
// }
.advantages-img {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}
.advantages-number {
  font-family: Titan One;
  @include font(36px, 400, 41px, null);
  text-transform: uppercase;
  color: var(--main-red);
  margin-bottom: 20px;
  @include tab {
    @include font(48px, 400, 55px, null);
  }
  @include desk {
    @include font(58px, 400, 66px, null);
  }
}
.advantages-text {
  @include font(12px, 700, 20px, null);
  color: var(--clear-black);
  width: 230px;
  @include tab {
    @include font(14px, null, 20px, null);
  }
  @include desk {
    @include font(16px, null, 28px, 0.02em);
  }
}
