.contacts {
  & {
    width: auto;
    padding: 132px 0 165px 0;
    background-color: var(--sections-light-pink-background);
    @include desk {
      background-image: url('../images/contacts/bg-section-1x.png');
      background-size: contain;
      border: none;
      text-align: center;
      background-repeat: no-repeat;
      background-position: top 230px center;
      @media (min-device--picel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/contacts/bg-section-2x.png');
      }
    }
  }

  &-list {
    --card-amt: 1;
    --card-gap: 20px;
    margin-bottom: 54px;

    @include tab {
      --card-amt: 3;
      --card-gap: 30px;
      margin-bottom: 81px;
      @include desk {
        margin-bottom: 86px;
      }
    }
  }
  &-item {
    padding: 43px 21px 43px 20px;
    background: var(--clear-white);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    @include tab {
      padding: 50px 0 50px 30px;
    }
    @include desk {
      padding: 52px 48px 61px 49px;
    }

    &:nth-child(even) {
      .contacts-cards-text {
        background-color: var(--light-green-background);
      }
    }
  }

  &-box:not(:last-child) {
    @media screen and (max-width: 767px) {
      border-bottom: 1px solid var(--border-lines-grey);
      margin-bottom: 25px;
    }
    @include tab {
      border-bottom: 1px solid var(--border-lines-grey);
      margin-bottom: 32px;
    }
  }
  &-cards-text {
    color: var(--clear-white);
    background-color: var(--light-brown-background);
    @media screen and (max-width: 767px) {
      padding: 2px 25px;
      margin-bottom: 25px;
    }
    line-height: 1.86;
    text-align: center;
    border-radius: 6px;
    border: none;
    display: inline-block;
    @include tab {
      padding: 2px 15px;
      margin-bottom: 30px;
    }
  }
  &-location {
    line-height: 1.86;
    color: var(--clear-black);
    display: flex;
  }
  &-location {
    margin-bottom: 10px;
  }
  &-location-text {
    letter-spacing: 0 !important;
    font-weight: 500;
    display: block;
    line-height: 1.5;
    text-align: left;
    @include tab {
      line-height: 1.64;
      letter-spacing: 0 !important;
    }
    @include desk {
      line-height: 1.83;
      letter-spacing: 0 !important;
    }
    color: var(--copyright-grey);
    width: auto;
  }

  &-timetable-text {
    line-height: 1.65;
    @include tab {
      line-height: 1.64;
      letter-spacing: 0;
    }
    @include desk {
      line-height: 1.83;
    }
    color: var(--clear-black);
    display: flex;
  }

  &-timetable-time {
    color: #ffa5ba;
    line-height: 1.65;
    @include tab {
      line-height: 1.64;
      letter-spacing: 0;
    }
    @include desk {
      line-height: 1.83;
    }
  }
  &-timetable:not(:last-child) {
    margin-bottom: 10px;
  }
  .adress {
    margin-top: 32px;
  }
  &-adress-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    line-height: 1.65;
    @include tab {
      line-height: 1.85;
    }
    @include desk {
      line-height: 1.83;
    }
    color: var(--copyright-grey);
  }
  &-btn-location {
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: bold;
    line-height: 1.31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--clear-white);
    background: #d41342;
    border-radius: 22px;
    padding: 20px 35px 20px 17px;
    @include tab {
      padding: 20px 54px 20px 35px;
    }
    cursor: pointer;
    border: none;
    transition: backgroun-color var(--transition);
    &:hover,
    &:focus {
      background-color: #d41342;
      outline: none;
    }
  }
  &-btm-list {
    @include tab {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  &-btn-franchise {
    font-family: 'DM Sans';
    font-size: 16px;
    line-height: 1.31px;
    font-weight: bold;
    margin-top: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main-red);
    padding: 20px 49px 20px 32px;
    @include tab {
      padding: 20px 58px 20px 39px;
    }
    cursor: pointer;
    border: none;
    background: var(--clear-white);
    border-radius: 22px;
    &:hover,
    &:focus {
      background-color: var(--white-btn-hover);
      outline: none;
    }
  }
  &-btm-item {
    display: flex;
    justify-content: center;
    @include tab {
      display: flex;
      flex-wrap: wrap;
      margin-left: 15px;
      position: relative;
      margin-bottom: 0;
    }
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 10px;
      }
    }
  }
  &-btm-item:not(:first-child) {
    @include tab {
      margin-right: 15px;
    }
  }
  .icon-location {
    fill: var(--clear-white);
    position: absolute;
    align-items: center;
    text-align: center;
    margin-left: 118px;
    justify-content: center;
    cursor: pointer;
  }
  .icon-franhise {
    fill: var(--main-red);
    position: absolute;
    margin-left: 89px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .adress {
    margin-top: 32px;
  }
}
