.contacts {
  &-list {
    margin-bottom: 30px;
    --card-amt: 1;
    --card-gap: 20px;

    @include tab {
      --card-amt: 3;
      --card-gap: 30px;
      
    }
  }
  &-item {
    padding: 43px 21px 43px 20px;
    background: var(--clear-white);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    @include tab {
    padding: 50px 32px 50px 31px;
    }
    @include desk {
    padding: 52px 48px 61px 49px;
    }

    &:nth-child(even) {
      .contacts-cards-text {
        background-color: #c2e297;
      }
    }
  }

  &-box:not(:last-child) {
    @media screen and (max-width: 768px) {
      border-bottom: 1px solid var(--border-lines-grey);
      padding-bottom: 25px;
      margin-top: 25px;
    }
    @media screen and (min-width: 768px) {
      border-bottom: 1px solid var(--border-lines-grey);
      padding-bottom: 32px;
      margin-top: 30px;
    }
  }
  &-cards-text {
    color: var(--clear-white);
    background-color: var(--light-brown-background);
    @media screen and (max-width: 767px) {
      font-size: 12px;
      line-height: 1.5px;
      padding: 2px 25px;
    }
    font-weight: 500;
    line-height: 1.86;
    text-align: center;
    border-radius: 6px;
    border: none;
    display: inline;
    @media screen and (min-width: 768px) {
      padding: 2px 15px;
    }
  }

  &-location {
    font-weight: 500;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
    line-height: 1.86;
    color: var(--clear-black);
    display: flex;
  }

  &-location-text {
     font-weight: 500;
      font-size: 12px;
      line-height: 1.65;
      text-align: left;
     @media screen and (min-width: 740px) {
      font-size: 14px;
      line-height: 1.64;
    }
    @media screen and (min-width: 1090px) {
    line-height: 1.83;}
    color: var(--copyright-grey);
    width: auto;
    margin-top: 10px;
  }

  .contacts-timetable-text{
   font-weight: 500;
      font-size: 12px;
      line-height: 1.65;
     @media screen and (min-width: 740px) {
      font-size: 14px;
      line-height: 1.64;
    letter-spacing: 0;}
    @media screen and (min-width: 1090px) {
    line-height: 1.83;}
    color: var(--clear-black);
    display: flex;
  }
  .contacts-timetable-time {
     color: #ffa5ba;
     font-weight: 500;
      font-size: 12px;
      line-height: 1.65;
   @media screen and (min-width: 740px) {
      font-size: 14px;
      line-height: 1.64;
    letter-spacing: 0;}
    @media screen and (min-width: 1090px) {
    line-height: 1.83;}
  }
  .contacts-timetable:not(:last-child) {
    margin-bottom: 10px;
  }
  .adress {
    margin-top: 32px;
  }
  .contacts-adress-link {
    font-family: "DM Sans";
    font-size: 12px;
    line-height: 1.65;
    @media screen and (min-width: 740px) {
    font-size: 14px;
    line-height: 1.64;
    @media screen and (min-width: 1090px) {
    line-height: 1.83;}
    color: var(--copyright-grey);
  }
  }
  .contacts-btn-location {
    font-style: normal;
    font-weight: bold;
    line-height: 1.31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--clear-white);
    background: #d41342;
    border-radius: 22px;
    padding: 20px 35px 20px 17px;
    @media screen and (min-width: 768px) {
      padding: 20px 54px 20px 35px;
    }
    cursor: pointer;
    border: none;
    transition: backgroun-color var(--transition);
    &:hover,
    &:focus {
      background-color: var(--white-btn-hover);
      outline: none;
    }
  }
  .contacts-btm-list {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  .contacts-btn-franchise {
    font-style: normal;
    font-weight: bold;
    margin-top: 0px;
    font-size: 16px;
    line-height: 1.31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main-red);
    padding: 20px 49px 20px 32px;
    @media screen and (min-width: 768px) {
      padding: 20px 58px 20px 39px;
    }
    cursor: pointer;
    border: none;
    background: var(--clear-white);
    border-radius: 22px;
  }
  .contacts-btm-item {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 15px;
      margin-bottom: 0;
    }
  }
  .contacts-btm-item:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }
  .contacts-btm-item:not(:first-child) {
    @media screen and (min-width: 768px) {
      margin-left: 15px;
    }
  }
}
