.foot {
  background-color: var(--sections-light-pink-background);
}
.foot-container {
   
    
    @include tab {
        
        display: flex;
        justify-content: space-between;
    }
    
}
.foot-text {
    width: 250px;
    margin-bottom: 43px;
    @include tab {
        width: 50%;
        margin-bottom: 91px;
    }
    @include desk {
        margin-bottom: 97px;
    }
}
.first-text {
    text-align: left;
   margin-bottom: 16px;
}
.second-text {
    text-align: left;
   
}
.foot-contakts {
    display: flex;
    flex-direction: column;
    
}


.social-list {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 42px;
    @include tab {
        margin-bottom: 46px;
    }
    @include desk {
        margin-bottom: 50px;
    }
  }
  .social-item {
    & + & {
      margin-left: 28px;
    }
    @include tab {
        & + & {
            margin-left: 30px;
          }
    }
  }
  .social-icon {
    
        width: 20px;
        height: 20px;
        transform: rotate(0);
        transition: transform var(--transition);
        .social-link:hover &,
        .social-link:focus & {
          transform: rotate(360deg);
      }
    }
    
  
  .social-link {
    width: 34px;
    height: 34px;
    background-color: var(--social-media-back);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: scale(1);
    transition: background-color var(--transition), transform var(--transition);
    &:hover,
    &:focus {
      background-color: var(--main-red);
      transform: scale(1.3);

    }
  }
  .foot-tel-text {
    font-family: DM Sans;
      @include font(12px, 700, 22px, null);
     color: var(--clear-black);
      margin-left: auto;
      margin-bottom: 43px;
      @include tab {
        @include font(14px, null, null, null);
    }
    @include desk {
        @include font(16px, null, null, null);
    }
  }
.tel-link {
  display: inline-block;
    color: var(--main-red);
    transform: scale(1);
    transition: transform var(--transition);
    &:hover,
    &:focus {
      transform: scale(1.2);

    
}
}
  .foot-line {
      color: var(--border-lines-grey);
      height: 1px;
      width: 100vw;
      margin-bottom: 9px;
      @include tab {
        margin-bottom: 29px;
    }
    @include desk {
        margin-bottom: 9px;
    }
  }
  .foot-rights {
      width: 150px;
      @include font(14px, 700, 26px, null);
      color: var(--copyright-grey);
      margin: 0 auto;
      text-align: center;
      margin-bottom: 10px;
      @include tab {
        width: 100%;
        margin-bottom: 18px;
    }  
    @include desk {
        margin-bottom: 9px;
    }
  }