.gallery-container{
    padding: 97px 20px 0 20px;
    @include tab{
        padding: 140px 74px 0 74px;
    }
    @include desk{
        padding: 160px 135px 0 135px;
    }
}

.gallery-list{
    display: grid; 
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-auto-columns: 1fr; 
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: auto; 
    gap: 5px 5px; 
}

.gallery-item{
    display: block;
    &:hover img{
        transform: scale(1.1);
        box-shadow: 4px 7px 30px 0px rgba(0, 0, 0, 0.1);
    }
    &:nth-child(1){
        grid-area: 3 / 1 / 5 / 2;
    }
    &:nth-child(2){
        grid-area: 2 / 2 / 4 / 3; 
    }
    &:nth-child(3){
        grid-area: 4 / 2 / 6 / 3; 
    }
    &:nth-child(4){
        grid-area: 1 / 3 / 5 / 5; 
    }
    &:nth-child(5){
        grid-area: 5 / 3 / 7 / 4; 
    }
    &:nth-child(6){
        grid-area: 3 / 5 / 5 / 6; 
    }
    &:nth-child(7){
        grid-area: 5 / 5 / 7 / 6; 
    }
    &:nth-child(8){
        grid-area: 2 / 6 / 4 / 7; 
    }
    &:nth-child(9){
        grid-area: 4 / 6 / 6 / 7; 
    }
    &:nth-child(10){
        grid-area: 3 / 7 / 5 / 8; 
    }
}

.gallery-item .gallery-img{
    transition: transform 250ms, box-shadow 250ms;
    border-radius: 5px;
    @include tab{
    border-radius: 11px;
    }
    @include desk{
    border-radius: 20px;
    }
}
