.gallery{
    padding: 0 135px 0 135px;
}

.gallery-list{
    display: grid; 
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-auto-columns: 1fr; 
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: auto; 
    gap: 5px 5px; 
    height: 430px; 
}

.img-1 { grid-area: 1 / 1 / 7 / 2; }
.img-2 { grid-area: 1 / 2 / 4 / 3; }
.img-3 { grid-area: 4 / 2 / 7 / 3; }
.img-4 { grid-area: 1 / 3 / 5 / 5; }
.img-5 { grid-area: 5 / 3 / 7 / 4; }
.img-6 { grid-area: 1 / 5 / 4 / 6; }
.img-7 { grid-area: 4 / 5 / 7 / 6; }
.img-8 { grid-area: 1 / 6 / 4 / 7; }
.img-9 { grid-area: 4 / 6 / 7 / 7; }
.img-10 { grid-area: 1 / 7 / 7 / 8; }

.gallery-item{
    display: block;
    border: 1px solid red;
    background-color: teal;
    width: 139px;
    height: 139px;
    &:nth-child(4){
        width: 280px;
        height: 280px;
    }
}