.header {
  padding-top: 6px;
  padding-bottom: 160px;
  position: relative;

  background-color: var(--light-pink-background);
  background-repeat: no-repeat;
  background-position: left 55% bottom, right 45% center;
  // background-position: left calc(100% / 2 + 65px) bottom, center left calc(100% / 2 + 55px);
  background-size: auto, 350px;

  background-image: url('../images/header/icecream-mob.svg'), url('../images/header/ellipse.svg');

  @include tab {
    padding: 37px 34px 34px 34px;
    background-image: url('../images/header/icecream-tab.svg'),
      url('../images/header/ellipse-tab.svg');

    animation-name: circle;
    animation-timing-function: ease-in-out;
    animation-duration: 6000ms;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    @keyframes circle {
      0% {
        background-size: auto, 200px;
      }

      50% {
        background-size: auto, 350px;
      }

      100% {
        background-size: auto, 200px;
      }
    }
  }

  @include desk {
    padding: 37px 115px 56px 46px;
    background-size: auto, 540px;
    background-image: url('../images/header/icecream-desk.svg'),
      url('../images/header/ellipse-desk.svg');

    @keyframes circle {
      0% {
        background-size: auto, 250px;
      }

      50% {
        background-size: auto, 550px;
      }

      100% {
        background-size: auto, 250px;
      }
    }
  }
}

.header-container {
  position: relative;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top {
  position: relative;
}

.header-logo {
  width: 190px;
  height: 50px;
}

.logo {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1279px) {
    display: none;
  }
}
.nav-link {
  @include font(16px, 700, 21px, null);
  color: var(--clear-white);
  transition: color var(--transition);
  &:hover,
  &:focus,
  &.current {
    color: var(--main-red);
  }
}

.nav-item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}
.button-container {
  padding-top: 10px;
  margin-left: auto;
  @include tab {
    padding-top: 0;
    display: flex;
    align-items: center;
  }
}

.header-button {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: block;
  padding: 12px 37px;
  margin-left: 30px;
  @include font(16px, 700, 21px, null);

  color: var(--main-red);
  border: none;
  background-color: var(--clear-white);
  border-radius: 22px;
  transition: background-color var(--transition);
}

.header-button-icon {
  margin-left: 12px;
}

.menu-button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  height: 20px;
  padding: 0;
  &:hover,
  &:focus {
    .menu-icon {
      fill: var(--clear-white);
    }
  }
  @include desk {
    display: none;
  }
}
.menu-icon {
  fill: var(--main-red);
  transition: fill var(--transition);
}

.header-wrap {
  padding-top: 137px;
  display: flex;
  justify-content: space-between;

  @include tab {
    padding-top: 15px;
  }
  @include desk {
    padding-top: 84px;
    padding-left: 69px;
  }
}
.header-title {
  max-width: 218px;
  margin-bottom: 19px;
  @include font(26px, 400, 30px, null);
  font-family: Titan One;
  text-transform: uppercase;
  color: var(--clear-white);
  @include tab {
    @include font(22px, null, 25px, null);
    max-width: 162px;
  }

  @include desk {
    @include font(38px, null, 44px, null);
    max-width: 277px;
  }
}
.title-red {
  color: var(--main-red);
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;
  @include tab {
    font-size: 34px;
    line-height: 90.5%;
  }
  @include desk {
    font-size: 58px;
  }
}

.wrap-list {
  display: flex;
}

.wrap-button {
  display: block;
  padding: 8px 15px;
  @include font(8px, null, 10px, null);
  color: #d41443;
  border: none;
  background: #fff;
  border-radius: 22px;
  transition: background-color var(--transition);
  &:hover,
  &:focus {
    background-color: var(--white-btn-hover);
  }
  @include desk {
    padding: 13px 20px;
    @include font(14px, null, 18px, null);
    border-radius: 20px;
  }
}

.wrap-item {
  &:nth-child(1) {
    .wrap-button {
      color: var(--clear-white);
      background: var(--main-red);
      &:hover,
      &:focus {
        background-color: var(--red-btn-hover);
      }
    }
  }
}
.wrap-item:not(:last-child) {
  margin-right: 8px;
}
.header-wrap-right {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: relative;
  width: 51px;
  @include desk {
    width: 92px;
  }
}
.point-count-ellipse {
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--clear-white);
  border-radius: 50%;

  @include desk {
    width: 30px;
    height: 30px;
  }
}
.point-count-ellipse1 {
  position: absolute;
  right: -5%;
  top: -2%;
  animation-name: ellipseTop;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @keyframes ellipseTop {
    0% {
      background-color: rgba(255, 255, 255, 0.1);
      background-size: auto, 0;
    }

    50% {
      background-color: rgba(255, 255, 255, 1);
      background-size: auto, 100%;
    }

    100% {
      background-color: rgba(255, 255, 255, 0.1);
      background-size: auto, 0;
    }
  }
  @include desk {
    top: -3%;
  }
}
.point-count-ellipse2 {
  position: absolute;
  top: 48px;
  right: -7%;
  animation-name: ellipse;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @keyframes ellipse {
    0% {
      background-color: rgba(255, 255, 255, 1);
      background-size: auto, 0;
    }

    50% {
      background-color: rgba(255, 255, 255, 0.1);
      background-size: auto, 100%;
    }

    100% {
      background-color: rgba(255, 255, 255, 1);
      background-size: auto, 0;
    }
  }
  @include desk {
    top: 80px;
    right: -8%;
  }
}

.point-count {
  @include font(28px, null, 32px, null);
  font-family: Titan One;
  color: var(--main-red);

  @include desk {
    @include font(46px, null, 53px, null);
  }
}

.point-type {
  @include font(8px, null, 10px, null);
  color: var(--clear-white);
  @include desk {
    @include font(14px, null, 18px, null);
  }
}
.point-count-top {
  position: absolute;
  right: 10%;
  z-index: 999;
}
.point-count-bottom {
  position: absolute;
  top: 50px;
  right: 10%;
  z-index: 998;
  @include desk {
    top: 85px;
  }
}
.point-cafe {
  position: absolute;
  top: 30px;
  right: 10%;
  @include desk {
    top: 45px;
  }
}
.point-truck {
  position: absolute;
  top: 80px;
  @media screen and (max-width: 1279px) {
    left: 0;
  }

  @include desk {
    top: 135px;
    right: 10%;
  }
}
.header-gap {
  @media screen and (max-width: 768px) {
    display: none;
  }
  width: 100%;
  padding-left: 118px;
  @include desk {
    padding-left: 218px;
  }
}
.header-wrap-bottom {
  margin-top: 66px;
  @include desk {
    margin-top: 112px;
  }
}
.header-text {
  width: 114px;
  height: 44px;
  margin-bottom: 7px;
  overflow: hidden;
  @include font(8px, null, 12px, null);
  color: var(--clear-white);
  @include desk {
    @include font(14px, null, 20px, null);
    width: 200px;
    height: 78px;
    margin-bottom: 20px;
  }
}
.header-open-btn {
  display: flex;
  align-items: center;
  cursor: poiner;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;

  background-color: var(--clear-white);
  transition: background-color var(--transition);
  &:hover,
  &:focus {
    background-color: var(--main-red);
    outline: none;
    .header-open-icon {
      fill: var(--clear-white);
    }
  }
  @include desk {
    width: 26px;
    height: 26px;
  }
}
.header-open-icon {
  fill: var(--main-red);
  width: 18px;
  height: 18px;
  transition: fill var(--transition);
  @include desk {
    width: 18px;
    height: 10px;
  }
}

.header-thumb-left {
  @media screen and (max-width: 767px) {
    display: none;
  }
  width: 124px;
  position: absolute;
  bottom: 0;
  left: 2%;
  animation-name: milkScale;
  animation-duration: 5s;
  animation-timing-function: linear;

  @keyframes milkScale {
    0% {
      width: 0;
    }

    100% {
      width: 124px;
    }
  }

  @include desk {
    width: 188px;
    left: 5%;
    bottom: 0;
    @keyframes milkScale {
      0% {
        width: 0;
      }

      100% {
        width: 188px;
      }
    }
  }
}
.header-thumb-right {
  @media screen and (max-width: 767px) {
    display: none;
  }
  width: 168px;
  position: absolute;
  bottom: -34px;
  right: 1%;
  animation-name: girlScale;
  animation-duration: 5s;
  animation-timing-function: linear;

  @keyframes girlScale {
    0% {
      width: 0;
    }

    100% {
      width: 168px;
    }
  }
  @include desk {
    width: 293px;
    right: 1%;
    bottom: -56px;
    @keyframes girlScale {
      0% {
        width: 0;
      }

      100% {
        width: 293px;
      }
    }
  }
}
