.text-wrapper {
  text-align: center;
  background-color: var(--customer-reviews-back);
  padding: 30px 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
     margin-bottom: 15px;
    }
}
.review-text {
  line-height: 30px;
  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom 1px;
  background-size: 100% 1px;
  background-image: linear-gradient(to right, #e1e1e1, #e1e1e1);
}
.reviews-icon {
  position: absolute;
  fill: currentColor;
}

.review-address {
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
}

.dots-list {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 18px;
   @media screen and (min-width: 480px) {
     margin-bottom: 15px;
    }
  
}

.dots-link {
  width: 4px;
  height: 4px;
  background-color: var(--dots-red);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.dots-item:not(:last-child) {
  margin-right: 10px;
}

// ----------------

.switcher-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-address {
  margin-bottom: 35px;
}

.switcher-link {
  width: 12px;
  height: 12px;
  background-color: var(--switcher-grey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switcher-item:not(:last-child) {
  margin-right: 10px;
}

// -------------укупкепк

.adaptive-slider {
  height: 85px;
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  position: relative;
}

.adaptive-slider input[name='kadoves'] {
  display: none;
}

.kadoves {
  text-align: center;
}

.kadoves label {
  display: inline-block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--switcher-grey);
  background-color: var(--switcher-grey);
}

.kadoves label:not(:last-child) {
  margin-right: 12px;
}

// #slide1:checked~.kadoves label[for="slide1"] {

//   background-color: white;

// }

// #slide2:checked~.kadoves label[for="slide2"] {

//   background-color: white;

// }

// #slide3:checked~.kadoves label[for="slide3"] {

//   background-color: white;

// }

.adaptive-slider-imgs {
  overflow: hidden;
}

.adaptive-slider-imgswr {
  display: flex;
  width: 100%;
  transition: all 0.6s;
}

.adaptive-slider-imgswr img {
  width: 100%;
  margin-right: 11px;
  flex-shrink: 0;
}

#slide1:checked ~ .adaptive-slider-imgs .adaptive-slider-imgswr {
  transform: translate(0);
}
#slide2:checked ~ .adaptive-slider-imgs .adaptive-slider-imgswr {
  transform: translateX(-112%);
}
#slide3:checked ~ .adaptive-slider-imgs .adaptive-slider-imgswr {
  transform: translateX(-225%);
}
